body {
  background-color: #2b2f2c;
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("images/manuscript-inverted.png");
  background-repeat: repeat;
  background-size: 1200px auto;
  background-position: center top;

  opacity: 0.07;
  filter: contrast(1.15) brightness(1.1);

  pointer-events: none;
  z-index: -1;
}
